{% load static %}
{% load socialaccount %}

<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Django GitLab Auth</title>
      <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" />
  </head>
  <body>
    <div class="container">
        <h1>GitLab Auth Test</h1>

        {% if request.user.is_authenticated %}
            <p>Vous êtes connectés en tant que {{request.user}} avec l'adresse mail : {{request.user.email}}</p>
            <a href="{% url 'account_logout' %}">Log out</a>
        {% else %}
            <form action="{% provider_login_url 'gitlab' %}" method="post">
                <p>Se connecter avec </p>
                {% csrf_token %}
                <button type="submit">
                    <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/144_Gitlab_logo_logos-1024.png" alt="GitLab">
                </button>
            </form>
        {% endif %}
    </div>
  </body>
</html>